.countriesList {
  list-style: none;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.li {
  display: flex;
  align-items: center;
  gap: 5px;
}