.tourCardsWrapper {
  max-width: 100%; 
  margin: 0 auto;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
}

@media (min-width: 700px) {
  .tourCardsWrapper {
    max-width: 700px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.tourCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.hotelNotFound {
  padding: 20px;
  color: red;
}