.hotelInfo {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-gray);
  border-bottom: none;
  border-radius: 8px 8px 0 0;
}

.topInfo {
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.countryRow,
.cityRow {
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.hotelFlag {
  width: 24px;
  height: 18px;
}

.hotelName {
  margin: 2px 0 0 0;
  font-size: 18px;
}

.imageWrapper {
  padding: 10px;
}

.hotelImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

.hotelDescription {
  padding: 0 10px;
  font-size: 14px;
  color: var(--color-dark-gray);
  margin-top: 10px;
  line-height: 1.4;
}

.hotelServices {
  padding: 10px;
  margin-top: 5px;
}

.servicesLabel {
  font-weight: bold;
  margin-bottom: 6px;
}

.servicesList {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

}

.hotelService {
  padding: 2px 6px;

  font-size: 12px;
}

.hotelError {
  padding: 20px;
  color: var(--color-red);
}